Repository tombolo/tombolo-traders-hub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --config .eslintrc.js, npx stylelint --fix

mumo
  package-lock.json
  package.json
  src/components/loader/ChunkLoader.scss
  src/components/loader/chunk-loader.tsx
  src/components/shared/utils/config/config.ts
  src/pages/endpoint/__tests__/endpoint.spec.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js, npx stylelint --fix

mumo
  .gitignore
  src/components/blockly-loading/blockly-loading.tsx
  src/components/layout/header/header.tsx
  src/components/layout/header/mobile-menu/mobile-menu.tsx
  src/components/layout/header/mobile-menu/use-mobile-menu-config.tsx
  src/components/loader/chunk-loader.tsx
  src/components/shared_ui/button/button.tsx
  src/components/shared_ui/button/button_loading.tsx
  src/components/shared_ui/button/index.ts
  src/components/shared_ui/loading/index.ts
  src/components/shared_ui/loading/loading.tsx
  src/pages/main/main.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  netlify.toml
  public/_redirects
Due: none

mumo
  src/components/shared/utils/config/config.ts
Due: prettier --write, eslint --fix --config .eslintrc.js

Mumo
  src/pages/finesttool/finesttool.tsx
  src/pages/main/main.tsx
  src/pages/strategies/strategies.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

Mumo
  src/pages/strategies/strategies.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

Mumo
  src/pages/main/main.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/strategy/strategy.css
Due: prettier --write, npx stylelint --fix

mumo
  src/pages/strategy/strategy.css
  src/pages/strategy/strategy.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js, npx stylelint --fix

mumo
  src/pages/strategy/strategy.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/main/main.tsx
  src/pages/strategies/strategies.tsx
  src/pages/strategy/strategy.css
Due: prettier --write, eslint --fix --config .eslintrc.js, npx stylelint --fix

mumo
  src/pages/main/main.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/main/main.tsx
  src/pages/risk/risk.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/risk/risk.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

first commit
  README.md
Due: prettier --write

mumo
  src/components/shared/styles/_constants.scss
  src/pages/tutorials/constants.ts
Due: prettier --write, eslint --fix --config .eslintrc.js, npx stylelint --fix

mumo
  src/components/shared/styles/_constants.scss
  src/components/shared/styles/_themes.scss
  src/components/shared/utils/config/config.ts
Due: prettier --write, eslint --fix --config .eslintrc.js, npx stylelint --fix

mumo
  src/components/shared/styles/_constants.scss
Due: prettier --write, npx stylelint --fix

mumo
  src/components/loader/chunk-loader.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/dtrader/trade.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/strategies/strategies.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/components/shared/utils/config/config.ts
  src/pages/strategies/strategies.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/risk/risk.tsx
  src/pages/strategy/strategy.css
  src/pages/strategy/strategy.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js, npx stylelint --fix

mumo
  src/components/layout/header/mobile-menu/social-icons.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/pages/copytrading/copytrading.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

mumo
  src/components/shared/utils/config/config.ts
  src/pages/copytrading/copytrading.tsx
Due: prettier --write, eslint --fix --config .eslintrc.js

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss}
  eslint --fix --config .eslintrc.js: any of: *.{js,jsx,ts,tsx}
  npx stylelint --fix: any of: *.{css,scss}
